<div class="page-header">
  <h1>
    Çizgiz
    <small>Sosyal Karikatürler</small>
  </h1>
</div>

<div class="row">
  <div class="col-sm-5">
    <section id="nexus5">
      <div class="wrap">
        <div class="device">
          <div class="button"></div>
          <div class="lock"></div>
          <div class="camera"></div>
          <div class="inner"></div>
          <a class="screen" href="https://play.google.com/store/apps/details?id=com.dbtek.cizgiz"></a>
        </div>
      </div>
    </section>
  </div>
  <div class="col-sm-7">
    <h3>En yeni karikatür uygulaması yayında!</h3>
    <p class="lead">
      Sürekli güncel karikatürler ile her zaman yeni içeriklere sahip olursunuz. Çizgiz, sosyal medyada paylaşılan karikatürlere kolayca erişmenize ve beğendiğiniz karikatürleri kolayca paylaşmanıza olanak sağlar.
    </p>
    <div class="row">
      <div class="col-xs-6">
        <a ng-href="https://play.google.com/store/apps/details?id=com.dbtek.cizgiz">
          <img class="img-responsive" src="images/get-google-play.jpg"/>
        </a>
      </div>
      <div class="col-xs-6">
        <div class="btn-group-vertical btn-block">

        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="footer">
  <ul class="list-inline">
    <li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:hello@cizgiz.tk">hello@cizgiz.tk</a></li>
    <li><img src="images/twitter.png"/> <a href="http://twitter.com/cizgizApp">@cizgizApp</a></li>
    <li>With <span class="glyphicon glyphicon-heart"></span> from <a href="http://twitter.com/dbtek">@dbtek</a></li>
  </ul>
</div>
